<%- include('../partials/header.ejs') %>



    <div class="container">
        <div class="container mt-5 mb-5" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <% if (movie.Poster !=="N/A" ) { %>
                        <img src="<%= movie.Poster %>" class="img-fluid rounded-start shadow-lg"
                            alt="<% movie.Title %>'s release poster" class="card-img-top">
                        <% } else { %>
                            <p>No movie poster found... </p>
                        <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">
                            <%= movie.Title %>
                        </h2>
                        <br>
                        <p class="card-text text-start">
                            <strong>Year: </strong><%= movie.Year %>
                        </p>
                        <p class="card-text text-start">
                            <strong>Director: </strong><%= movie.Director %>
                        </p>
                        <p class="card-text text-start">
                            <strong>Actors: </strong><%= movie.Actors %>
                        </p>
                        <p class="card-text text-start">
                            <strong>Rated: </strong><%= movie.Rated %>
                        </p>
                        <p class="card-text text-start">
                            <strong>Genre: </strong><%= movie.Genre %>
                        </p>
                        <p class="card-text text-start">
                            <strong>Summary: </strong><%= movie.Plot %>
                        </p>
                    </div>
                    <br>
                    <div class="well">
                        <form method="POST" action="/movies/<%= movie.imdbID %>/favorites">
                            <input hidden type="text" name="title" value="<%= movie.Title %>">
                            <input hidden type="text" name="imdbID" value="<%= movie.imdbID %>">
                            <button class="btn btn-primary shadow" type="submit">Add to Favorite Movies</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="container mt-5 mb-5">
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-md-7">
                    <div class="p-3">
                    </div>
                    <div class="mt-2 d-flex flex-row align-items-center p-3 input-group flex-nowrap">
                        <h3 class="text-start mx-2">Comments</h3>
                        <% if (locals.user) { %>
                            <img src="https://i.imgur.com/OHddecv.png" width="50" class="rounded-circle mr-2">
                            <form method="POST" action="/comments" class="mx-2 d-flex">
                                <input type="hidden" name="movieId" value="<%= movie.id %>">
                                <textarea type="text" class="form-control" name="content" placeholder="Enter your comment..." required></textarea>
                                <input type="submit" class="btn btn-primary mx-2">
                            </form>
                        </div>
                        <% } %>
                            <div class="mt-2">
                                <% if (comments.length> 0) { %>
                                    <% comments.forEach((comment, i)=> { %>
                                        <div class="d-flex flex-row p-3">
                                            <div class="w-100">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <img src="https://i.imgur.com/OHddecv.png" width="50" class="rounded-circle mr-2">
                                                        <span class="mr-2"><strong><%= comment.user.email %>:</strong></span>
                                                    </div>
                                                </div>
                                                <p class="text-start comment-text mb-0">
                                                    <%= comment.content %>
                                                </p>
                                                <div class="d-flex flex-row user-feed justify-content-end">
                                                    <% if (locals.user && locals.user.id===comment.userId) { %>
                                                        <form method="GET" action="/comments/edit/<%= comment.id %>"
                                                            style="display:inline;">
                                                            <button type="submit"
                                                                class="btn btn-sm btn-warning shadow mx-3">Edit</button>
                                                        </form>
                                                        <form method="POST"
                                                            action="/comments/<%= comment.id %>?_method=DELETE"
                                                            style="display:inline;">
                                                            <button type="submit"
                                                                class="btn btn-sm btn-danger shadow">Delete</button>
                                                        </form>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } else { %>
                                                <p>No comments yet.</p>
                                            <% } %>
                                        </div> 

                </div>
            </div>
        </div>

    </div>






    <%- include('../partials/footer.ejs') %>