<%- include('../partials/header.ejs') %>

<h1>Welcome to your profile, <%= user.email %></h1>

<p>Here is a list of your favorite movies!</p>

<div class="container">
    <h1>Your Faves</h1>
    
    <% allFaves.forEach(fave => { %>
        <div class="well">
            <a href="/movies/<%= fave.imdbID %>">
                <p><%= fave.title %> (<%= fave.year %>)</p>
            </a>
            <form method="POST" action="/movies/<%= fave.imdbID %>/favorites?_method=DELETE">
                <button class="btn btn-danger" type="submit">💀 Remove from Faves</button>
            </form>
        </div>
    <% }) %>

</div>

<%- include('../partials/footer.ejs') %>